.search-form {
	margin-top: 0;
}

.search-results {
	list-style: circle;
	margin-top: 1em;
}

.search-results li {
  	padding: 0.5em 0;
  	border-bottom: 1px solid #eee;
  	margin: 0.5em 0;
}
.search-results a {
	text-decoration: none;
	color: #000;
}